<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
            <div class="card">
                <div class="card-header">
                    <strong>Fiber Requirement</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="entererForm">
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>District</mat-label>
                                <mat-select w-100 formControlName="district" (selectionChange)="getBlock()">
                                    <mat-option>Select district</mat-option>
                                    <mat-option *ngFor="let x of districtList" [value]="x.id">
                                        {{x.district}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['district'].touched && entererForm.controls['district'].errors && entererForm.controls['district'].errors.required">
                                This field is required
                            </p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Block</mat-label>
                                <mat-select formControlName="block" (selectionChange)="getGp()">
                                    <mat-option value="">Select Block Name</mat-option>
                                    <mat-option *ngFor="let x of blockList" [value]="x.id">
                                        {{x.block}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['block'].touched && entererForm.controls['block'].errors && entererForm.controls['block'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Gp</mat-label>
                                <mat-select formControlName="gp">
                                    <mat-option value="">Select gp</mat-option>
                                    <mat-option *ngFor="let x of gpList" [value]="x.id">
                                        {{x.gp}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['gp'].touched && entererForm.controls['gp'].errors && entererForm.controls['gp'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Name" formControlName="name">
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['name'].touched && entererForm.controls['name'].errors && entererForm.controls['name'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Phone No</mat-label>
                                <input matInput placeholder="Phone No" formControlName="phoneno">
                            </mat-form-field>
                            <p ion-text color="danger" class="input-error error-text"
                                *ngIf="entererForm.get('phoneno').touched && entererForm.get('phoneno').hasError('required')">
                                This field is required</p>
                            <p ion-text color="danger" class="input-error error-text"
                                *ngIf="entererForm.get('phoneno').touched && entererForm.get('phoneno').hasError('pattern')">
                                Phone number should be a 10 digit number</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Email Id</mat-label>
                                <input matInput placeholder="Email Id" formControlName="emailid">
                            </mat-form-field>
                            <p ion-text color="danger" class="input-error error-text"
                                *ngIf="entererForm.get('emailid').touched && entererForm.get('emailid').hasError('required')">
                                This field is required</p>
                            <p ion-text color="danger" class="input-error error-text"
                                *ngIf="entererForm.get('emailid').touched && entererForm.get('emailid').hasError('pattern')">
                                Invalid email</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>Adress</mat-label>
                                <input matInput placeholder="Adress" formControlName="adress">
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['adress'].touched && entererForm.controls['adress'].errors && entererForm.controls['adress'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>4 Core fiber required in meter</mat-label>
                                <input matInput placeholder="4 Core fiber required in meter" formControlName="fiberrequired">
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['fiberrequired'].touched && entererForm.controls['fiberrequired'].errors && entererForm.controls['fiberrequired'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="m-b-3">
                            <mat-form-field class="col-xs-12 col-md-12 col-sm-12" appearance="outline">
                                <mat-label>6 core fiber required in meter</mat-label>
                                <input matInput placeholder="6 Core fiber required in meter" formControlName="fiberrequiredinmt">
                            </mat-form-field>
                            <p class="help-block error-text"
                                *ngIf="entererForm.controls['fiberrequiredinmt'].touched && entererForm.controls['fiberrequiredinmt'].errors && entererForm.controls['fiberrequired'].errors.required">
                                This field is required</p>
                        </div>
                        <div class="form-group form-actions">
                            <button type="submit" class="btn btn-sm btn-success"
                                [disabled]="entererForm.status == 'INVALID'" (click)="updateRequirement()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>